/* COLOURS */
/* FONTS*/
html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Lato", sans-serif;
  background-image: radial-gradient(circle at center, #FFFFFF, #E5E5E5) !important;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  color: #E92569;
}

p {
  color: #767676;
}

.btn__link,
.tab__link {
  color: #E92569 !important;
}

nav .navbar__brand {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: #E92569 !important;
  padding-left: 16px;
}

nav .navbar {
  background: #EFEFEF !important;
  padding: 0 !important;
  padding-top: 6px;
  padding-bottom: 8px;
}

nav .nav__link {
  color: black !important;
  font-size: 18px;
  margin-left: 16px;
  padding: 8px !important;
}

nav .nav__link:hover {
  background: #FFFFFF !important;
}

nav .active {
  background: #FFFFFF !important;
}

nav .navbar__collapse {
  z-index: 1;
}

nav .nav__item {
  margin: 0px;
}

nav .btn {
  background: #E92569 !important;
  color: #FFFFFF !important;
  font-size: 16px;
  font-weight: 300;
  padding: 8px;
}

nav .form__control {
  border: #FFFFFF !important;
  width: 80%;
  font-weight: 300;
  font-size: 15px;
  color: #767676 !important;
}

nav .form__inline {
  padding-left: 16px;
  margin-top: 18px;
  margin-bottom: 12px;
}

nav .navbar__nav {
  padding-top: 16px;
}

@media (min-width: 768px) {
  nav .navbar__nav {
    padding-left: 20px;
  }
}

.carousel .carousel__item {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.carousel .carousel__indicators li {
  width: 30px;
  height: 30px;
  opacity: 1;
  background-color: #FFFFFF;
}

.carousel .active {
  background-color: #E92569 !important;
}

.carousel .carousel__inner {
  max-height: 600px;
}

.headline__homepage {
  margin-top: 20px;
}

.headline__homepage h1 {
  font-size: 34px;
}

.headline__homepage p {
  font-size: 16px;
  color: #767676;
}

.accordion__homepage .card:first-child {
  border-radius: 12px 12px 0 0 !important;
}

.accordion__homepage .card:last-child {
  border-radius: 0 0 12px 12px !important;
}

.accordion__homepage .card__header {
  background: #FFFFFF;
  border-bottom: 1px solid #E92569;
}

.accordion__homepage .card__header--two {
  background: #FFFFFF;
}

.accordion__homepage .card__body {
  background: #EFEFEF;
  color: #767676;
}

.accordion__homepage .card__body p {
  color: black;
}

@media (min-width: 768px) {
  .accordion__homepage .card__body p {
    color: black;
  }
}

.pagination .page__link {
  color: #E92569;
  border: 1px solid #E92569;
  font-size: 16px;
}

.pagination .page__item.active .page-link {
  background-color: #E92569;
  border: 1px solid #E92569;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link.active {
  color: #767676 !important;
  border-radius: 12px 12px 0 0  !important;
}

.nav-tabs .nav-link {
  color: #E92569 !important;
}

.tab-pane.fade.show.active {
  background-color: #FFFFFF;
  padding: 2rem;
  border-radius: 0 0 12px 12px  !important;
  box-shadow: 0px 0px #767676;
}

.card-body .btn__primary {
  background: #767676;
  border: none;
  position: relative;
  width: 90%;
}

.card-body .btn__primary:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 93%;
  height: 100%;
  background: #E92569;
}

@media (min-width: 768px) {
  .card-body .btn__primary:before {
    width: 85%;
  }
}

.card-body .btn__primary:after {
  content: "MORE";
  position: absolute;
  left: 40%;
}

.container__wrapper {
  width: 90%;
}

@media (min-width: 768px) {
  .container__wrapper {
    max-width: 700px;
  }
}

.container__wrapper .contact__icons {
  font-size: 30px;
  padding-left: 20px;
}

@media (min-width: 768px) {
  .container__wrapper .contact__info {
    margin-top: 40px;
  }
}

.container__wrapper .location__icon {
  color: #767676;
}

.container__wrapper ul {
  padding: 0;
}

.container__wrapper li {
  list-style: none;
  font-size: 16px;
}

.form__container form {
  background: #EFEFEF;
  padding: 30px;
  color: #767676;
}

.form__container .form__control {
  border: none;
}

.form__container .custom-checkbox .custom-control-input.my-error ~ .custom-control-label::before {
  background-color: #E92569;
  width: 34px;
  height: 33px;
  border: #E92569;
}

.form__container .custom-control-label {
  font-size: 13px;
  padding-left: 30px;
}

.form__container button {
  width: 90%;
  margin-top: 30px;
  background: #767676;
  border: #767676;
}

footer {
  background: #FFFFFF;
  padding: 8px;
  width: 100%;
  margin-top: 30px;
  height: 165;
}

@media (min-width: 768px) {
  footer .footer__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  footer .footer__container .footer-flex {
    justify-content: space-between;
  }
}

footer i {
  font-size: 40px;
  color: #767676;
  margin-bottom: 8px;
  margin-top: 12px;
}

@media (min-width: 768px) {
  footer i {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex: none;
  }
}
/*# sourceMappingURL=style.css.map */