/* COLOURS */
    $background: #EFEFEF;
    $primary: #E92569;
    $secondary: #FFFFFF;
    $icon-colour: #767676;


/* FONTS*/ 
    $primary-font: 'Lato', sans-serif;
    $secondary-font: 'Playfair Display', serif;
